<div id="main-loop-card" class="mb-5 main-loop-card">
	{% if post.image %}
		<div class="row">
			<div class="col-md-12 mb-3 text-right desktop-hide">
				<a href="{{site.baseurl}}{{post.url}}">
					<img class="w-100" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
				</a>
			</div>
		</div>
	{% endif %}
	<div class="mobile-fix d-flex justify-content-between">
		<div class="pr-3">
			<h2 class="mb-1 h4 font-weight-bold title-homepage">
				<a class="text-dark" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
			</h2>
			<p class="excerpt">
				{{ post.excerpt  | strip_html | strip_newlines | truncate: 250}}
			</p>
			<small class="d-block text-muted">
				In <span class="catlist">
					{% for category in post.categories %}
					<a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase | url_encode }}">{{ category }}</a><span class="sep">, </span>
					{% endfor %}
				</span>
			</small>
			<small class="text-muted">
				{{ post.date | date: '%b %d, %Y' }}
			</small>
		</div>
		{% if post.image %}
		<div class="col-md-3 pr-0 text-right mobile-hide">
			<a href="{{site.baseurl}}{{post.url}}">
				<img class="w-100" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
			</a>
		</div>
		{% endif %}
	</div>
</div>