// Font
$font1: 'Josefin Sans', sans-serif;
$font2: 'Lora', "Times New Roman", Georgia,Times, serif;

$font-title-homepage: 'Montserrat', Georgia,Times,"Times New Roman",serif;
$font-title-article: 'Montserrat', Georgia,Times,"Times New Roman",serif;