// footer
#footer{
	.navbar-brand{
		padding: 0;
		vertical-align: middle;
	}
	.navbar-brand .logo{
		width: 2em;
		height: 2em;
	}
	.text-credits{
		color: #6c757d !important;
	}
	.footer-title{
		display: inline-block;
		vertical-align: middle;
		@media (max-width:767.98px) {
			text-align: center;
		}
	}
	.footer-line{
		img{
			padding: 10px 10px;
			height: 70px;
		}
	}
	.footer-right{
		float:right;
		text-align: right;
		padding: 10px;
		@media (max-width:767.98px) {
			text-align: center;
			float: none;
			width: 100%;
		}
	}

	.contain-item{
		width: 100%;
		@media (max-width:767.98px) {
			text-align: center;
		}

	}


}