// footer
#footer{
	.navbar-brand{
		padding: 0;
		vertical-align: middle;
	}
	.navbar-brand .logo{
		width: 2em;
		height: 2em;
	}
	.text-credits{
		color: #6c757d !important;
	}
	.footer-title{
		display: inline-block;
		vertical-align: middle;
	}
	.footer-line{
		img{
			padding: 10px 10px;
			height: 70px;
		}
	}
}