// Variable

$black: #24202b;
$white: #fdfffc;

$color1: rgba(239, 70, 63, 1); // ef463f red
$color2: #0081AF;
$color3: rgba(91, 195, 235, 1); // 5bc3eb

$color4: #6EC1C8;


$color1-light: rgba(239, 70, 63, 0.25);
$color1-medium: rgba(239, 70, 63, 0.5);
$color1-heavy: rgba(239, 70, 63, 0.75); 



$color3-light: rgba(91, 195, 235, 0.25);
$color3-medium: rgba(91, 195, 235, 0.5);
$color3-heavy: rgba(91, 195, 235, 0.75);

$text-article-color: #222;